@charset "UTF-8";
/* CSS Document */

/*------STUFF I"M TESTING OUT-------*/

/*--- Overall: these are shared throughout the site---*/
*p {
	font-family:'Lato';
}

.category {
	text-transform:uppercase;
	font-weight:300;
}

.uppercaseheader {
	text-transform:uppercase;
	font-weight:700;
}

/*--- Overall End---*/

#about-me-header {
	margin-top:4rem
}

.product-image {
	margin: 0 0 2rem 0;
}

columns {
	margin-bottom:2rem;
}

li a {
	color:#fff;
}

/*---- HERO IMAGE----*/

#hero-cat{
	margin: 8rem 0 6rem 6.5rem;
}

/*---- HERO IMAGE Ends----*/

/*-------- PRODUCT PAGES STYLING BEGINS HERE --------*/ 

/*--- Package Design----*/

#firstpackageimage {
	margin: 6rem 0 0 0;
}

#packageheader {
	margin:8.5rem 0 0 1.7rem;
}

#packagecategory {
	margin:0 0 0 1.7rem;
}

#packageparagraph {
	font-size:.9rem;
	line-height:1.9rem;
}

#top-concept {
	margin: 11rem 0 0 1rem;
}

.conceptparagraph {
	 margin:0 0 0 1rem;
	 font-size:.9rem;
	 line-height:1.9rem;
 }
 
/*--- Package Design End----*/

/*--- Cthulu----*/

#firstcthuluimage {
	margin: 6rem 0 0 0;
}

#cthuluheader {
	margin: 8rem 0 0 0;
}

.cthuluparagraph {
	font-size:.9rem;
	line-height:1.9rem;
	margin:0 0 1rem 0;
}

#cthuluconcept {
	text-transform:uppercase;
	font-weight:700;
}

.cthulu-paragraph-width {
	max-width:40rem;
}

/*--- Cthulu Ends----*/

/*--- Pinata------*/

#pinata-top-logo {
	margin:6rem 0 0 0;
	padding: 0 0 2rem 0
}

#pinataheader {
	margin:8rem 0 0 0;
}

#pinata-category {
	margin:0 0 .4rem 0;
}

.pinataparagraph {
	font-size:.9rem;
	line-height:1.9rem;
	margin:0 0 1rem 0;
	max-width:29rem;
}


/*--- Pinata Ends------*/


/*--- Crunchyroll ---*/

#crunchyroll-header {
	margin:8rem 0 0 0;
}

#crunchyroll-top-logo {
	margin:6rem 0 0 0;
}

#crunchyrollparagraph {
	font-size:.9rem;
	line-height:1.9rem;
	margin:0 0 1rem 0;
	max-width:30rem;
}

#top-view {
	margin:0 0 1.8rem 0;
}

.secondrowcrunchy {
	margin:0 0 1.8rem 0;
}


/*--- Crunchyroll Ends ---*/

/*-------- PRODUCT PAGES STYLING ENDS HERE --------*/ 

/*--- ABOUT ME ----*/

#aboutmeimage {
	margin-top:5rem;
}
	
#about-me-header {
	margin-top:4rem
}

.about-me-paragraph {
	line-height:2rem;
	font-size:.9rem;
	padding: 0 0 0 0rem;
	max-width:30rem;
}

/*--- ABOUT ME END ----*/

/*--- HOVER EFFECTS USED ON HOME PAGE PRODUCTS---*/

figure.snip0017 {
  font-family:'Lato';
  text-transform:uppercase;
  color: #fff;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  width: 100%;
  background: #40A5B2;
  /*text-align: right;*/
}
figure.snip0017 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
figure.snip0017 img {
  opacity: 1;
  width: 100%;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
figure.snip0017 figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 30px 3em;
  width: 100%;
  height: 100%;
}
figure.snip0017 figcaption::before {
  position: absolute;
  top: 30px;
  right: 100%;
  bottom: 30px;
  left: 30px;
  border-right: 3px solid rgba(255, 255, 255, 0.9);
  content: '';
  opacity: 0;
  background-color: rgba(226, 135, 105, 0.9);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.3s;
}
figure.snip0017 h2,
figure.snip0017 p {
  margin: 0 0 5px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s,-webkit-transform 0.35s,-moz-transform 0.35s,-o-transform 0.35s,transform 0.35s;
}
figure.snip0017 h2 {
  font-family:'Open Sans';
  font-size:1.5rem;
  color:#fff;
  word-spacing: -0.15em;
  font-weight: 300;
  text-transform: uppercase;
  -webkit-transform: translate3d(-30%, 0%, 0);
  transform: translate3d(-30%, 0%, 0);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
figure.snip0017 h2 span {
  font-weight: 800;
}
figure.snip0017 p {
  font-weight: 200;
  -webkit-transform: translate3d(0%, -30%, 0);
  transform: translate3d(0%, -30%, 0);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.1s;
}
figure.snip0017 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  color: #ffffff;
}
figure.snip0017:hover img {
  opacity: 0.2;
}
figure.snip0017:hover figcaption h2,
figure.snip0017:hover figcaption p {
  visibility: visible;
}
figure.snip0017:hover figcaption h2 {
  opacity: 1;
  -webkit-transform: translate3d(0%, 0%, 0);
  transform: translate3d(0%, 0%, 0);
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
figure.snip0017:hover figcaption p {
  opacity: 0.9;
  -webkit-transform: translate3d(0%, 0%, 0);
  transform: translate3d(0%, 0%, 0);
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
figure.snip0017:hover figcaption::before {
  background: rgba(226, 135, 105, 0);
  right: 30px;
  opacity: 1;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

 h2 {
	color:#fff; 
 }
 
/*--- HOVER EFFECTS USED ON HOME PAGE PRODUCTS---*/
 
/*--- About Me ---*/

#top-about {
	margin:5rem 0 0 15.2rem;
	
}

/*--- About Me End ---*/

/*---- Contact Form ----*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

*{
	margin: 0;
	padding: 0;
}

body{
	background: #f9f9f9;
}

h2, input, textarea, button{
	font-family: 'Open Sans', sans-serif;
}

::-webkit-input-placeholder{color: #51BED2;}
:-moz-placeholder { /* Firefox 18- */ color: #51BED2;}
::-moz-placeholder {  /* Firefox 19+ */ color: #51BED2;}
:-ms-input-placeholder {color: #51BED2;}

.container{
	width: 90%;
	padding: 15px;
	margin: 50px auto;
}

.container h2{
	text-align: center;
	text-transform: uppercase;
	color: #51BED2;
}

.title-bar{
	margin: 1px auto 10px auto;
	width: 100px;
	border-bottom: 1px solid #E28769;
}

#contact input[type="text"],#contact input[type="email"], #contact textarea{
	display: block;
	padding: 10px;
	margin: 10px auto;
	width: 90%;
	font-size: 18px;
	
  border: 1px solid #E28769;
}

#contact textarea{
	font-size: 16px;
}

#contact input:hover, #contact textarea:hover{
	border: 1px solid #51BED2;
}
#contact input:focus, #contact textarea:focus{
	border: 1px solid #777;
}


#contact textarea{
	max-width: 90%;
	min-width: 90%;
	max-height: 158px;
	min-height: 158px;
  resize: none;
}

#contact .send-button{
	text-align: center;
}

#contact .send-button button[type="submit"]{
    cursor: pointer;
    background: #51BED2;
	color: #fff;
    border: none;
	width: 95%;
	padding: 10px 0;
	font-size: 20px;
	text-transform: uppercase;
	transition: .5s ease;
}

#contact .send-button button[type="submit"]:hover{
	background:#E28769;
}

#contact .send-button button[type="submit"]:focus{
	position: relative;
	top: 2px;
}

/*---- Contact Form End ----*/

    
footer {
	height:3rem;
	background:#51BED2;
	padding-top:10rem;
	color:#fff;
	font-size:25px;
}

footer a {
	color:#fff;
}

footer a:hover {
	color:#F9CDBB;
} 


@media screen and (min-width: 640px){
	.container{
		width: 600px;
	}

	#contact .right,#contact .left{
		display: block;
	}

	#contact .right{
		float: right;
		width: 50%;
	}
	#contact .left{
		float: left;
		width: 50%;
	}
	.cl{
    clear: both;
    }
  
 
}
/*---- Contact Form ----*/
 


@media only screen and (max-width: 40em) {
	
/*---- HERO IMAGE----*/

#hero-cat{
	margin: 7rem 0 5rem 0;
}

/*---- HERO IMAGE ENDS----*/
	
/*---Salted Mountain----*/

#packageheader {
	margin:2rem 0 0 1.3rem;
}

#packagecategory {
	margin:0 0 0 1.3rem;
}

#top-concept {
	margin: 0 0 0 1rem;
}

#smallillustration {
	margin: 2rem 0 1rem 0;
}



/*---Salted Mountain End----*/

/*----Cthulu-----*/

#cthuluheader {
	margin: 0 0 0 0;
}

#cthuluconcept {
	margin: 0 0 .5rem 1.5rem
}

.cthulu-paragraph-width {
	max-width:33rem;
	margin: 0 0 0 1.5rem;
}

/*----Cthulu End-----*/

/*--- Pinata ---*/

#pinata-top-logo {
	margin: 2rem 0 2rem 1.5rem;
	
}

#pinataheader {
	margin:6rem 0 0 1.5rem;
}
#pinata-category {
	margin:0 0 .4rem 1.5rem;

}

.pinataparagraph {
	margin:0 0 0 1.5rem;
	max-width:30rem;
	
}

#pinatatshirts {
	margin:0 0 2rem 0;
}

/*--- Pinata Ends ---*/

/*--- Crunchyroll ---*/

#front-view {
	margin: 0 0 .5rem 0;
}

#crunchyroll-top-logo {
	margin: 1rem 0 1.5rem 0;
}

#crunchyroll-header {
	margin:
}

#laptopstickers {
	margin: 0 0 1.7rem 0;
}

/*--- Crunchyroll Ends ---*/

/*--- About Me ---*/

#top-about {
	margin:5rem 0 0 1.2rem;
	
}

/*--- About Me End ---*/

  footer a {
	height:5rem;
    padding:0 0 0 0rem;
	font-size:15px;
  }
  
  small {
	  padding:20rem 0 0 0 ;
  }
  

}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {

/*---- HERO IMAGE----*/

#hero-cat{
	margin: 9rem 0 7rem 0;
}

/*---- HERO IMAGE END ----*/


#aboutmeimage {
	padding: 10rem 0 0 0;
}


.about-me-paragraph {
	margin: 0 0 0 0;
	padding: 0 4rem 0 0;
	line-height:1.5rem;
	color:#000;
	font-size:.8rem;
}

/*--- Cthulu ---*/

#cthuluconcept {
	margin: 0 0 .5rem 4rem
}

#cthuluheader {
	margin: 6rem 0 0 0;
}

.cthulu-paragraph-width {
	max-width:33rem;
	margin: 0 0 0 4rem;
}
/*--- Cthulu End ---*/

/*--- Package ---*/

#packageheader {
	margin:5.5rem 0 0 1.3rem;
}

#packagecategory {
	margin:0 0 0 1.3rem;
}

#top-concept {
	margin: 0 0 0 1rem;
}

/*--- Package End ---*/

/*--- Pinata ---*/

#pinata-top-logo {
	padding: 1rem 2rem 0 0
}

#pinataheader {
	margin:6rem 0 0 1rem;
}
#pinata-category {
	margin:0 0 .4rem 1rem;

}

.pinataparagraph {
	margin:0 0 1rem 1rem;
	max-width:35rem;
	
}

/*--- Pinata Ends---*/


/*--- About Me ---*/

#top-about {
	margin:5rem 0 0 0;
	
}

/*--- About Me End ---*/

 footer a {
    padding:0 0 0 0rem;
	font-size:15px;
  }
  

}

